#Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

#Virtual environments
venv/
.venv/
env/
.env/
ENV/

#Generated report outputs
*_report_*.txt
!employees_sample.csv

#(don't commit raw data)
*.csv

#OS junk
.DS_Store
Thumbs.db
desktop.ini

# IDE config
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
